Pods/

PulseOfAustin\.xcworkspace/xcuserdata/paulcarroll\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

PulseOfAustin/Server/Secrets\.swift

PulseOfAustin\.xcodeproj/xcuserdata/paulcarroll\.xcuserdatad/xcschemes/xcschememanagement\.plist
